APP_NAME=myapp

SECRET_KEY_BASE='secret_key_base'

WEB_CONCURRENCY=1
RAILS_MAX_THREADS=1

HOST=0.0.0.0
PORT=3000
RAILS_ENV=development

# Action Cable
ACTION_CABLE_URL=redis://localhost:6379/1

# New Relic
NEWRELIC_LICENSE_KEY='newrelic_license_key'

# Database
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Redis
REDIS_URL=redis://localhost:6379/0

# Cache Store
CACHE_STORE_URL=redis://localhost:6379/2
