APP_NAME=myapp

WEB_CONCURRENCY=1
RAILS_MAX_THREADS=1

RAILS_ENV=development
HOST=0.0.0.0
PORT=3000

# Action Cable
ACTION_CABLE_URL=redis://localhost:6379/1

SECRET_KEY_BASE='secret_key_base'

# New Relic
NEWRELIC_LICENSE_KEY='newrelic_license_key'

# PostgreSQL
DATABASE_USERNAME=
DATABASE_PASSWORD=
